{% extends "layout.njk" %}

{% block content %}

  <main>
    <div class="banner">
      <img src="/assets/chef.png" alt="chef">

      <div class="banner-text">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div>

    </div>

    <div id="wrapper">
      <h2>Mais acessadas</h2>
    </div>

    <div class="cards-recipes">
      {% for item in itens %}

        <div class="card">
          <img src="{{item.image}}" alt="{{item.title}}">
          <p class="p1">{{item.title}}</p>
          <p>{{item.author}}</p>
        </div>

      {% endfor %}

    </div>

  </main>
{% endblock content %}