<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/home.css">
  <link rel="stylesheet" href="/public/styles/modal.css">
  <title>Lista de Receitas</title>
</head>

<body>
  <div class="content">
    <header>
      <img src="/public/assets/logo.png" alt="logo">

      <nav>
        <a href="home.html">Home</a>
        <a href="about.html">Sobre</a>
        <a href="listRecipes.html">Receitas</a>
      </nav>

    </header>

    <main>

      <div class="cards">
        <div class="card">
          <img src="/public/assets/burger.png" alt="Triplo bacon burger">
          <p class="p1">Triplo bacon burger</p>
          <p>por Jorge Relato</p>
        </div>

        <div class="card">
          <img src="/public/assets/lasanha.png" alt="Lasanha mac n’ cheese">
          <p class="p1">Lasanha mac n’ cheese</p>
          <p>por Juliano Vieira</p>
        </div>

        <div class="card">
          <img src="/public/assets/pizza.png" alt="Pizza 4 estações">
          <p class="p1">Pizza 4 estações</p>
          <p>por Fabiana Melo</p>
        </div>

        <div class="card">
          <img src="/public/assets/doce.png" alt="Docinhos pão-do-céu">
          <p class="p1">Docinhos pão-do-céu</p>
          <p>por Ricardo Golvea</p>
        </div>

        <div class="card">
          <img src="/public/assets/espaguete.png" alt="Espaguete ao alho">
          <p class="p1">Espaguete ao alho</p>
          <p>por Júlia Kinoto</p>
        </div>

        <div class="card">
          <img src="/public/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
          <p class="p1">Asinhas de frango ao barbecue</p>
          <p>por Vania Steroski</p>
        </div>

        <div class="card">
          <img src="/public/assets/burger.png" alt="Triplo bacon burger">
          <p class="p1">Triplo bacon burger</p>
          <p>por Jorge Relato</p>
        </div>

        <div class="card">
          <img src="/public/assets/lasanha.png" alt="Lasanha mac n’ cheese">
          <p class="p1">Lasanha mac n’ cheese</p>
          <p>por Juliano Vieira</p>
        </div>

        <div class="card">
          <img src="/public/assets/pizza.png" alt="Pizza 4 estações">
          <p class="p1">Pizza 4 estações</p>
          <p>por Fabiana Melo</p>
        </div>

        <div class="card">
          <img src="/public/assets/doce.png" alt="Docinhos pão-do-céu">
          <p class="p1">Docinhos pão-do-céu</p>
          <p>por Ricardo Golvea</p>
        </div>

        <div class="card">
          <img src="/public/assets/espaguete.png" alt="Espaguete ao alho">
          <p class="p1">Espaguete ao alho</p>
          <p>por Júlia Kinoto</p>
        </div>

        <div class="card">
          <img src="/public/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
          <p class="p1">Asinhas de frango ao barbecue</p>
          <p>por Vania Steroski</p>
        </div>

      </div>


    </main>


    <!-- <div class="modal-overlay">
      <div class="modal">
        <img src="/public/assets/asinhas.png" alt="Asinhas de Frango ao barbecue">
        <div class="text">
          
          <p class="close">Fechar moda</p>
        </div>
      </div>
    </div> -->
   


  </div>

   
  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-img">
        <img src="/public/assets/asinhas.png" alt="Assinhas de Frango ao barbecue">
      </div>

      <div class="modal-text">
        <p>Asinhas de frango ao barbecue</p>
        <p class="subscrite">por Vania Steroski </p>
      </div>
      
      <div class="modal-rodape">
        <p>Fechar modal</p>
      </div>
    </div>
  </div>


  <footer>
    <p>Todos direitos reservados, receitas Foodfy.</p>
  </footer>

</body>

</html>