@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;/*altura e largura chega ate tamanho da  border*/
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #ffffff; /*cor de fundo*/
}

/*Alinhamento da Div e dos elementos dentro dela e do menu*/
.content{
  /*alinhamento da div*/
  width: 100%;
  max-width: 940px; /*referencia que podemos usar é a largura do banner */
  margin: 0 auto;

  display: flex; 
  flex-direction: column; /*conteudos seráo empilhados um embaixo do outro*/
}

.content header{
  margin-top: 38px;
  margin-bottom: 36px;

  /*alinhar os itens*/
  display: flex; 
  align-items: center;  /*alinhar ao eixo x*/
}

.content header nav{
  /*alinhamento dos link*/

  margin-left: 122.4px;
}

.content header nav a{
  margin-right: 30px;
  text-decoration: none; /*tirar sublinhado*/

  
  font-size: 16px;
  color: #111111;
}

.content header nav a:hover{
  font-weight: bolder;
  transition: color 200ms;
}

/*BANNER  */

.banner{
  background-color: #FBDFDB;;
  border-radius: 30px;

  /*Altura é Largura*/
  max-width: 940px; 
  height: 366px;
  min-width: 600px;

  /*Alinhamento dos contéudos*/
  display: flex;  /*Alinha*/
  align-items: center;

  
  position: relative; /*Por conta do position absolute*/

  margin-bottom: 50px;
}

.banner img{
  
  position: absolute; /*referencia ao pai no caso aqui seria o banner*/
  right: 100px;
  bottom: 0;
  top: 66px;
}

.banner .banner-text{
  margin-left: 60px;
  
  /*Position dos elementos*/
  position: absolute;
  top: 117px;
}

.banner-text h1{
  font-weight: bold;
  font-size: 32px;
  color: #111111;

  margin-bottom: 10px;

  width: 305px;
  height: 38px;
}

.banner-text p{
  width: 316px;
  height: 84px;

  opacity: 0.7;
  font-size: 18px;

  color: #000000;
  line-height: 28px;
  
}



/*
  Todos tem que usar position
  absolute : referencia ao pai
  relative : referencia a ele mesmo aonde o elemento de encontra
  fixed: Fica fixo na tela e aparece o scroll   

  */







